# JWT AUTHENTICATION
# A secret sequence of chars (numbers and letters only) to generate the Jwt
JWT_SECRET_KEY="a_very_secret_sequence_of_chars"

# SQL DATABASE
# The string connection for Dotnet EF. Must follow the format bellow.
DATABASE_URL="Host=localhost;Port=5432;Database=yourdb;Username=youruser;Password=yourpassword"

# DATA SEED CONFIG
# Credentials for the admin user
ADMIN_USERNAME="admin_user"
ADMIN_PASSWORD="strong_password"

# CORS
# Cors URI allowed origin. Separate each origin with a comma
CORS_ORIGINS="http://localhost:4200,http://localhost:5173,http://localhost:3000" 